# Entorno virtual
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local
db.sqlite3
*.sqlite3

# Variables y archivos privados
.env
.env.*

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp